@using System.Web.Optimization
@using Juve.Model
@model Team

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Team</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YearOfFoundation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearOfFoundation)
            @Html.ValidationMessageFor(model => model.YearOfFoundation)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CountryId)
        </div>
        
        <div class="editor-field">
            
            @{
                List<Country> list = ViewBag.Countries;
                var items = new SelectList(list, "Id", "Name");
            }

            @Html.DropDownListFor(x => x.CountryId, items, "")
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
